.title {
    padding: 10px 0;
    height: 500px
}

body {
    background-color: #FAFDFF;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  padding: 3px;
  background: #888;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.login-container{
    margin-top: 60px;
    box-shadow: -2px -3px 4px #e8e8e8;
    border: 1px solid grey;
    padding: 20px;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    background-color:white;
}

.login-label-div{
    text-align:center;
}

.login-label{
    align-items:center;
    width: 100%;
}

.login-input{
    width: 600px;
    margin: auto;
}

.login-btn{
    margin: auto;
}

.horizontal-card-group {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: 460px;
}

.horizontal-card{
    display: inline-block;
    height:420px;
    width: 250px;
    border: none;
    margin: 5px;
    box-shadow: -2px -3px 4px #e8e8e8;
    transition: 0.2s;
}

.big-card{
    max-width:325px;
    height:485px;
}

.horizontal-card:hover{
    box-shadow: -4px -4px 2px #cad2de;
}

.card-title{
    padding: 10px 10px 0px 10px;
}

.card-text{
    padding: 0px 10px;
    margin-bottom: 3px;
}

.card-body{
    background-color: white;
    height: 95%;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0px;
}

.card-img-small{
    width: 100%;
    height: 83%;
    border-radius: 0px;
}

.card-img-user{
    width:100%;
    height: 60%;
    border-radius:0px;
}

.card-img-top{
    width:50%;
    height: auto;
    border-radius:0px;
}

.card-img-big{
    width: 100%;
    height: 88%;
    border-radius: 0px;
}

.card-footer{
    background: #c7e7ed;
    border-top: none;
    padding-top: 5px;
    border-top: none;
    border: 1px solid grey;
}

.navbar{
    background-color: white;
    border-bottom: 1px solid #f5f5f5;
    box-shadow: 0px 4px  3px #e6e6e6;
}

.navbar-brand{
    color: #6eb7eb;
}

.nothing-card{
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: inherit;
    vertical-align: middle;
    font-size: 30px;
    font-weight:700;
}