{% extends "base.html" %}

{% block title %}Cinemate | Home{% endblock %}

{% block body %}
    <br>
    <h1>Top-Rated Movies</h1>
    <br>
    {% for moviechunk in moviechunks %}
    <div class="card-group">
        {% for movie in moviechunk %}
            <div class="card mb-3" data-toggle="tooltip" title="{{ movie['movieTitle'] }}">
                <div class="card-body flex-column">
                    <h5 class="card-title text-truncate">{{ movie['movieTitle'] }}</h5>
                    <p class="card-text">{{ movie['movieRating'] }}</p>
                    <img class="card-img-top embed-responsive-item" src={{ movie['posterImgLink'] }}>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">{{ movie['yearReleased'] }} | {{ movie['runtime'] }} minutes</small>
                </div>
            </div>
        {% endfor %}
    </div>
    <br>
    {% endfor %}
{% endblock %}
