{% extends "base.html" %}

{% block title %}Cinemate | Recommend{% endblock %}

{% block body %}
<br>
<h3>Watch It Again</h3>
<div class="horizontal-card-group">
    {% for movie in again_movies %}
        <div class="card horizontal-card text-bg-light mb-3" data-toggle="tooltip" title="{{ movie['movieTitle'] }}">
            <div class="card-body flex-column">
                <h5 class="card-title text-truncate">{{ movie['movieTitle'] }}</h5>
                <p class="card-text">{{ movie['movieRating'] }}</p>
                <img class="card-img-top embed-responsive-item" src={{ movie['posterImgLink'] }}>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">{{ movie['yearReleased'] }} | {{ movie['runtime'] }} minutes</small>
            </div>
        </div>
    {% endfor %}
</div>
<br>
<h3>Movies You Might Like</h3>
<div class="horizontal-card-group">
    {% for movie in rec_unwatched_faves %}
        <div class="card horizontal-card text-bg-light mb-3" data-toggle="tooltip" title="{{ movie['movieTitle'] }}">
            <div class="card-body flex-column">
                <h5 class="card-title text-truncate">{{ movie['movieTitle'] }}</h5>
                <p class="card-text">{{ movie['movieRating'] }}</p>
                <img class="card-img-top embed-responsive-item" src={{ movie['posterImgLink'] }}>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">{{ movie['yearReleased'] }} | {{ movie['runtime'] }} minutes</small>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
