{% extends "base.html" %}

{% block title %}Cinemate | Search{% endblock %}

{% block body %}
<br>
<form action="" method="post">
    <h3 align="center">Search Movie</h3>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" id="title" placeholder="Search title">
    </div>
    <div class="form-group">
        <label for="actor">Actor</label>
        <input type="text" class="form-control" name="actor" id="actor" placeholder="Search actor">
    </div>
    <div class="form-group">
        <label for="genre">Genre</label>
        <select class="form-control" name="genre" id="genre">
            <option value="all">All</option>
            {% for genre in genre_names %}
                <option value="{{ genre }}">{{ genre }}</option>
            {% endfor %}
        </select>
    </div>

     <div class="form-group">
        <label for="sort-by">Sort By</label>
        <select class="form-control" name="sort-by" id="sort-by">
            <option value="none">None</option>
            <option value="rating_asc">Rating (Ascending)</option>
            <option value="rating_desc">Rating (Descending)</option>
            <option value="year_asc">Year Released (Ascending)</option>
            <option value="year_desc">Year Released (Descending)</option>
            <option value="runtime_asc">Running Time (Ascending)</option>
            <option value="runtime_desc">Running Time (Descending)</option>
        </select>
    </div>
    
    <br />
    <button type="submit" class="btn btn-primary">Search!</button>
</form>
<br>
{% for moviechunk in moviechunks %}
<div class="card-group">
    {% for movie in moviechunk %}
        <div class="card text-bg-light mb-3">
            <div class="card-header">{{ movie['yearReleased'] }}</div>
            <div class="card-body">
                <h5 class="card-title">{{ movie['movieTitle'] }}</h5>
                <p class="card-text">{{ movie['movieRating'] }}</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">{{ movie['runtime'] }} minutes</small>
            </div>
        </div>
    {% endfor %}
</div>
<br>
{% endfor %}
{% endblock %}
