{% extends "base.html" %}

{% block title %}Cinemate | Search{% endblock %}

{% block body %}
<br>
<form action="" method="post">
    <h3 align="center">Search Movie</h3>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" id="title" placeholder="Search title" value="{{ title }}">
    </div>
    <div class="form-group">
        <label for="actor">Actor</label>
        <input type="text" class="form-control" name="actor" id="actor" placeholder="Search actor" value="{{ actor }}">
    </div>
    <div class="form-group">
        <label for="genre">Genre</label>
        <select class="form-control" name="genre" id="genre">
            <option value="all" {% if request.form.genre == 'all' %}selected{% endif %}>All</option>
            {% for genre in genre_names %}
                <option value="{{ genre }}" {% if request.form.genre == genre %}selected{% endif %}>{{ genre }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="sort-by">Sort By</label>
        <select class="form-control" name="sort-by" id="sort-by">
            <option value="none" {% if sort_by == 'none' %}selected{% endif %}>None</option>
            <option value="rating_asc" {% if sort_by == 'rating_asc' %}selected{% endif %}>Rating (Ascending)</option>
            <option value="rating_desc" {% if sort_by == 'rating_desc' %}selected{% endif %}>Rating (Descending)</option>
            <option value="year_asc" {% if sort_by == 'year_asc' %}selected{% endif %}>Year Released (Ascending)</option>
            <option value="year_desc" {% if sort_by == 'year_desc' %}selected{% endif %}>Year Released (Descending)</option>
            <option value="runtime_asc" {% if sort_by == 'runtime_asc' %}selected{% endif %}>Running Time (Ascending)</option>
            <option value="runtime_desc" {% if sort_by == 'runtime_desc' %}selected{% endif %}>Running Time (Descending)</option>
        </select>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Search!</button>
</form>
<br>
{% for moviechunk in moviechunks %}
    <div class="card-group">
        {% for movie in moviechunk %}
            <div class="card big-card text-bg-light mb-3">
                <div class="card-body flex-column">
                    <h5 class="card-title text-truncate">{{ movie['movieTitle'] }}</h5>
                    <p class="card-text">{{ movie['movieRating'] }}</p>
                    <img class="card-img-big embed-responsive-item" src={{ movie['posterImgLink'] }}>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">{{ movie['yearReleased'] }} | {{ movie['runtime'] }} minutes</small>
                </div>
            </div>
        {% endfor %}
    </div>
    <br>
    {% endfor %}
{% endblock %}
