{% extends "base.html" %}

{% block title %}Cinemate | Sign Up{% endblock %}

{% block body %}
    <form action="" method="post">
        <br>
        <h3 align="center">Update Information</h3>
        <br>
        <p>To update any of your first name, last name, or password, we will need you to enter your current password as well.</p>
        <br>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="firstName" placeholder="Enter new first name">
        </div>
        <br />
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Enter new last name">
        </div>
        <br />
        <br />
        <div class="form-group">
            <label for="old-password">Current Password</label>
            <input type="password" class="form-control" name="old-password" id="old-password" placeholder="Enter current password">
        </div>
        <br />
        <div class="form-group">
            <label for="password1">Password</label>
            <legend style="font-size:13px">Please enter a password that satisfies these requirements: <br>
                <ul>
                    <li>Password length is at least 8</li>
                    <li>At least one lowercase letter</li>
                    <li>At least one uppercase letter</li>
                    <li>At least one number</li>
                </ul>
            </legend>
            <input type="password" class="form-control" name="password1" id="password1" placeholder="Enter new password">
        </div>
        <br />
        <div class="form-group">
            <label for="password2">Re-enter Password</label>
            <input type="password" class="form-control" name="password2" id="password2" placeholder="Confirm new password">
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit Information</button>
    </form>
{% endblock %}
